h1, p{
  font-family: 'EB Garamond', serif;
}
h1{
  text-align: center;
}
header{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url('../assets/backgrounds/first.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#about{
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#services{
  text-align: center;
  display: flex;
  padding-top: 50px;
  align-content: center;
  background-image: url('../assets/backgrounds/second.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h4{
  font-weight: bold;
}

#what-we-do{
  margin-top: 50px;
  align-content: center;
  text-align: center;
  justify-content: center;
}

#portfolio{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.box{
  position: absolute;
  top: 20px;
  left: 30px;
  right: 30px;
  bottom: 20px;
  color: #000508;
  padding: 5px;
  border: 2px solid white;
  display: none;
}
.img-thumbnail.hover + .box{
  display: block;
}
.img-thumbnail:hover{
  opacity: 0.4;
}

#contact-us{
  background-image: url('../assets/backgrounds/last.jpg');
  background-position: center;
  background-size: cover;
}
#button{
  align-content: center;
}

input.transparent-input{
  background-color:transparent !important;
  border:solid 1px #fff;
  color: #fff
}
