h1, p{
  font-family: 'EB Garamond', serif;
}
header{
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  background-image: url('.../assets/backgrounds/first.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
